.navbar {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#toggle-button::before {
  content: "➜";
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

#toggle-button.rotated::before {
  transform: rotate(90deg);
}
